html {
  width: 100vw;
  overflow-x: hidden;
  font-size: 0.6rem;
  font-family: 'Caveat', cursive;
  background-color: var(--color-background);
  cursor: var(--cursor-default);

  -webkit-tap-highlight-color: transparent;
}

body {
  /* overflow-y: scroll */
}

:root {
  --color-background: #fdf5e6;
  --color-black: #000000;
  --color-main: #ff0000;
  --cursor-active: url('../img/2.png'), pointer;
  --cursor-default: url('../img/1.png'), pointer;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem;
}

/* mobile 320x568 */

.title {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.bayan {
  color: var(--color-main);
  cursor: pointer;
}
@media (hover: hover) {
  .bayan:hover {
    color: var(--color-black);
  }
}

.bayan-title {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr min-content;
  grid-auto-flow: row;
  align-items: center;
  padding: 1rem 0 1rem;
  font-size: 2rem;
  line-height: 1;
  border-top: 0.1rem solid #cecece;
  cursor: var(--cursor-active);
}
@media (hover: hover) {
  .bayan-item .bayan-title:hover {
    grid-row-gap: 1rem;
    padding-bottom: 2rem;
  }
}
.bayan-radio:checked + .bayan-title {
  grid-row-gap: 1rem;
  padding-bottom: 2rem;
  color: var(--color-black);
}
.bayan-item:active .bayan-title:not(.bayan-radio:checked + .bayan-title) {
  color: var(--color-main);
  opacity: 0.7;
}

.bayan-contribution-status {
  font-size: 1.8rem;
  transform: rotate(45deg);
  transition: transform 0.3s linear;
}
@media (hover: hover) {
  .bayan-item:hover .bayan-contribution-status {
    transform: none;
  }
}
.bayan-radio:checked + .bayan-title .bayan-contribution-status {
  transform: none;
}

.bayan-radio {
  display: none;
}

.bayan-img-wrapper {
  display: flex;
  grid-column: 1/3;
  grid-row: 2/3;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border-radius: 1rem;
}

.bayan-img {
  height: 0;
  border-radius: 1rem;
  transition: height 0.2s linear;
}
@media (hover: hover) {
  .bayan-title:hover .bayan-img {
    height: 30rem;
  }
}
.bayan-radio:checked + .bayan-title .bayan-img {
  height: 30rem;
}
.bayan-item:active
  .bayan-img:not(.bayan-radio:checked + .bayan-title .bayan-img) {
  opacity: 0.7;
}

/* tablet 820x1180 */

@media (min-width: 321px) {
  .title {
    font-size: 3.7rem;
  }

  .bayan-title {
    font-size: 3.2rem;
  }
}

/* desktop 1920×1080 */

@media (min-width: 821px) {
  .title {
    font-size: 4.2rem;
  }

  .bayan-title {
    font-size: 3.7rem;
  }

  .bayan-contribution-status {
    display: none;
  }
  .bayan:hover .bayan-contribution-status {
    display: block;
  }
}
